:root {
    --background: #6305df;
    --clip-background: #5a00cf;
    --text: #000000;
    --button-background: #000000;
    --button-text: #6305df;
    --active: #ffffff;
    --box-background: #d6fdf5;

    transition: 0.25s;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--box-text);
}

body {
    height: 100%;
    background: var(--background);
    font-family: WorkSans-Light;
}

body > #circle-clipping-bg {
    margin-top: -60px;
    height: 100%;
    width: 99.6%;
    background-color: var(--clip-background);
    clip-path: circle(50% at 50% 50%);
    position: fixed;
    z-index: -1;
}

::-webkit-scrollbar {
    display:none;
}